@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    font-family: 'Dancing Script', cursive;
    background: #ffe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    text-align: center;
    height: 100vh;
    margin: 10px;
}

.container {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
}

h2 {
    color: #ff4d4d;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ff9999;
    border-radius: 8px;
}

button {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    margin: auto;
}

button:hover {
    background: #cc0000;
}

.nascosto {
    display: none;
}

#errore {
    color: red;
    font-size: 16px;
}

#testoLettera,
#messaggioFinale,
#testoMiManchi,
#dataMiManchi ,
#testoMiManchi_2,
#dataMiManchi_2 {
    font-size: 22px;
    line-height: 1.5;
    padding: 15px;
}

#testoMiManchi,
#testoMiManchi_2 {
    padding: 10px !important;
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.contenutoMessaggio{
    font-size: 22px;
    line-height: 1.5;
    padding: 10px;
    padding-top: 0 !important;
    margin-top: 0 !important;
}
.dataMessaggio{
    font-size: 20px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

#messaggioFinaleFiore {
    width: 40%;
    margin: auto;
}

#heartChart {
    background: red;
    height: 100px;
    width: 100px;
    margin: auto;
    /* Animation */
    transform: rotate(-45deg) scale(0.9);
    animation: pulse 6s linear infinite;
}


#heartChart::after {
    /* background:blue; */
    background: inherit;
    border-radius: 50%;
    /* To make circle */
    content: '';
    position: absolute;
    /* top: -100px;*/
    top: -50%;
    /* Inherit properties of parent */
    /* left: -100px; */
    left: 0;
    height: 100px;
    width: 100px;
}

#heartChart::before {
    /*  background:green; */
    background: inherit;
    border-radius: 50%;
    /* To make circle */
    content: '';
    position: absolute;
    top: 0;
    right: -50%;
    /* Inherit properties of parent */
    height: 100px;
    width: 100px;
}

@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(0.65);
    }
    10% {
        transform: rotate(-45deg) scale(0.85);
    }
    20% {
        transform: rotate(-45deg) scale(0.55);
    }
    30% {
        transform: rotate(-45deg) scale(0.75);
    }
    40% {
        transform: rotate(-45deg) scale(0.55);
    }
    50% {
        transform: rotate(-45deg) scale(0.85);
    }
    60% {
        transform: rotate(-45deg) scale(0.6);
    }
    70% {
        transform: rotate(-45deg) scale(0.65);
    } 
    100% {
        transform: rotate(-45deg) scale(0.65); 
    }
}